@import './font.scss';
@import './normalize.scss';

$light-green: #aad2bd;
$light-blue: #edfaff;
$green: #59b89d;
$dark-blue: #1e3540;
$yellow: #ecd579;
$light-red: #e8b5aa;
$off-white: #dbdad0;
$gray: #dadacf;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'octarinelight', Arial, Helvetica, sans-serif;
}

.boxed-background {
  position: absolute;
  background-color: $light-green;
  top: 48px;
  bottom: 48px;
  left: 50%;
  width: 70%;
  z-index: -1;
  transform: translateX(-50%);
}
.top-boxed-background {
  position: absolute;
  background-color: $light-blue;
  top: 0;
  bottom: 96px;
  left: 0;
  right: 0;
  z-index: -1;
}
h2 {
  font-family: 'octarineregular', Arial, Helvetica, sans-serif;
  font-size: 32px;
}

img {
  width: 100%;
}
a {
  color: white;
}
section {
  position: relative;
}
.logo {
  width: 150px;
}
.fancy {
  max-width: 512px;
}
.section-content.fancy-box {
  padding-top: 0;
  text-align: center;
}
.header--green {
  color: $green;
}

.bg--yellow {
  background-color: $yellow;
}

.text-box--right {
  margin-left: 40%;
  text-align: right;
}

.text-box--left {
  margin-right: 40%;
}

.bg--off-white {
  background-color: $off-white;
}

.bg--dark-blue {
  background-color: $dark-blue;
}

.bg--light-blue {
  background-color: $light-blue;
}

.section-content {
  position: relative;
  max-width: 720px;
  margin: 0 auto 0 auto;
  padding: 48px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
.card-emoji {
  text-align: center;
  font-size: 48px;
}

.cards__card {
  position: relative;
  color: white;
  padding: 24px;
  border-radius: 8px;
  height: 168px;
  h2 {
    font-size: 16px;
  }
  a {
    position: absolute;
    font-size: 14px;
    bottom: 24px;
  }
}

.bg--green {
  background-color: $green;
}

.bg--light-green {
  background-color: $light-green;
}

.bg--light-red {
  background-color: $light-red;
}

footer {
  background-color: $dark-blue;
  color: $off-white;
}

.headshot {
  filter: brightness(70%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.name {
  position: absolute;
  font-family: 'octarinelight', Arial, Helvetica, sans-serif;
  font-size: 20px;
  top: 8px;
  left: 8px;
}
.description {
  position: absolute;
  bottom: 24px;
  font-size: 12px;
  left: 8px;
}
.profile-link {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.consultants {
  display: grid;
  margin-top: 16px;
  box-shadow: #1e3540;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
}
.view-more-button {
  border: none;
  padding: 16px 32px;
  background-color: $gray;
  margin: 16px auto 0 auto;
}
.consultant {
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.24);
  position: relative;
  border-radius: 8px;
  color: white;
  height: 160px;
  overflow: hidden;
}

.center {
  text-align: center;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px 0;
  p {
    font-size: 14px;
  }
}

.placeholder {
  background-color: black;
  color: white;
}

.instagram-headline {
  position: absolute;
  background-color: $dark-blue;
  color: $light-red;
  transform: translateY(-50%);
}

.section-content__instagram {
  @extend .section-content;
  padding: 0;
}
